/* Share Styles */

img video {
  width: 100%;
  height: auto;
}

.flex {
  display: flex;
  gap: 1rem;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 5rem;
}

.card {
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.16);
  margin: 1rem;
  align-content: center;
  text-align: center;
}

.card img {
  width: 600px; /* width of container */
  height: 200px; /* height of container */
  object-fit: cover;
}

.card p {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

.card h2 {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}
.container {
  max-width: 96rem;
  margin: 0 auto;
  padding: 1rem;
}

.mw-24 {
  max-width: 96;
  margin: 0 auto;
}

.header {
  justify-content: center;
  align-content: center;
  display: flex;
}

h1 {
  font-family: "Bely Display";
  text-align: center;
  font-weight: 900;
  font-size: 4rem;
  margin: 2rem;
  color: darkolivegreen;
}

h2 {
  font-family: "Bely";
  font-style: italic;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: darkolivegreen;
}

button {
  font-family: "Gill Sans";
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: none;
  border-radius: 1rem;
  background-color: rgb(212, 153, 24);
  color: white;
}

.greensection {
  background-color: darkolivegreen;
}

.greensection h1 {
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.inlineimage h2 {
  font-size: 3rem;
  color: white;
  padding-left: 10rem;
}

.inlineimage p {
  color: white;
  font-size: 1.4rem;
  font-family: "Gill Sans";
  padding-left: 10rem;
}

.inlineimage {
  padding-left: 10rem;
  padding-right: 10rem;
}

.inlineimage img {
  margin-left: 10rem;
  display: flex;
  width: 400px; /* width of container */
  height: 600px; /* height of container */
  object-fit: cover;
}

/* Mobile Only */
@media (max-width: 47.9375em) {
  .flex {
    flex-direction: column;
  }
}

/* Desktop Only */
@media (min-width: 48em) {
  .flex > * {
    width: 100%;
  }
}
